*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
}
/* .col{
    border: 2px solid black;
} */
.box{
    min-height:100%;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.form-control{
    border: 2px solid blueviolet;
}
.form-control::placeholder{
    color: blue;
}
form .btn{
    border: 2px solid blueviolet;
    color: blue;
}
form .btn:hover{
    border: none;
    background: blue;
    color: white;
}
.card{
    margin-bottom: 80px;  
}
.carousel-inner{
    height: 400px;
}
.card-img-top{
    object-fit: cover;
    height: 150px;
}
.slauder{
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}   
.skidka{
    position: absolute;
    top: 0;
    left: 86%;
    width: 40px;
    height: 25px;
    background: rgb(80, 0, 117);
    color: white;
    font-size: 15px;
}
.review{
    padding-bottom: 10px;
}
.review a{
    color: rgb(119, 119, 119);
    font-size: 20px;
    text-decoration: none;
}
.card-body>a{
    background: rgb(119, 0, 255);
    border: none;
}

@media (max-width:770px){
    .card{
        margin: 20px auto;
    }
}